.Rproj.user
.Rhistory
.RData
.Ruserdata
.rdb
.rdx
tikzcache/
_markdown_*/
.directory
*_cache/
*_files/
*.log
*.aux
*.auxlock
*.synctex.gz
*.lua
*.in
*.out
Progress/
Application*/
IT*/
Hardware*/
Translation*/
